.cont-carou-perso {
	width: 90vw;
	height: fit-content;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	.prev-btn,
	.next-btn {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.prev-btn {
		transform: scaleX(-1);
	}

	.fenetre {
		width: 80vw;
		display: flex;
		overflow: hidden;
		height: 678px;
		.bande {
			display: flex;
			height: inherit;

			// flex-wrap: nowrap;
			// width: 100%;
			img {
				width: 80vw;
			}
		}
	}
}
