.fade-carou {
	// animation-play-state: initial;
	animation: bande-fade 200ms backwards;
}
@keyframes bande-fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.cont-carou-perso {
	width: 90vw;
	height: fit-content;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	.prev-btn,
	.next-btn {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
	}

	.prev-btn {
		transform: scaleX(-1);
	}

	.fenetre {
		width: 60vw;
		display: flex;
		overflow: hidden;
		height: 678px;
		.bande {
			display: flex;
			height: inherit;

			.cont-inner-bande {
				width: 60vw;
				height: auto;
				display: flex;
				justify-content: center;
				align-items: center;
				// overflow: hidden;
			}
			// flex-wrap: nowrap;
			// width: 100%;
			img {
				max-width: 100%;
				max-height: 100%;
				margin: auto;
			}
		}
	}
}
