@import "./scss-variables";
@import "sass-rem";
.title-container-d {
	position: relative;
	display: flex;
	width: fit-content;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	align-self: center;
	margin-top: 175px;
	margin-left: auto;
	margin-right: auto;
	span {
		//position: absolute;
		text-align: left;
	}
	.bigE {
		font-size: rem(300px);
		top: -150px;
		left: 3vw;
	}
	.lilNos {
		margin-left: -20px;
		font-size: rem(16px);
		letter-spacing: 0.2em;
	}
	.title {
		font-size: rem(80px);
	}
}

.cont-text-d {
	p {
		width: 40%;
		margin-left: auto;
		margin-right: 10%;
		text-align: left;
	}
}

.cont-icons-d {
	width: 100%;
	display: flex;
	flex-direction: column;
	.row2 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		// flex-wrap: nowrap;
		margin-left: auto;
		margin-right: auto;
		width: 90vw;
		.item {
			width: 50vw;
			margin: 20px auto;
			display: flex;
			flex-direction: column;
			img {
				width: 83px;
				margin: 0 auto;
				// background-color: #549a6f;
				filter: invert(54%) sepia(45%) saturate(381%) hue-rotate(90deg)
					brightness(90%) contrast(87%);
			}
			p {
				text-align: center;
				display: inline-block;
				width: fit-content;
				text-transform: uppercase;
				margin: 10px auto;
			}
		}
	}
}

.title-container {
	position: relative;
	display: flex;
	width: fit-content;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	align-self: center;
	margin-top: 175px;
	margin-left: auto;
	margin-right: auto;
	span {
		//position: absolute;
		text-align: left;
	}
}

.lilNos {
	top: 0;
	// margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	text-transform: uppercase;
	// font: normal bold normal 16px/1.4em Sen, sans-serif;
	font-weight: bold;
	font-family: Sen, sans-serif;
	text-align: left;
	z-index: 2;
}
.bigE {
	position: absolute;
	top: -75px;
	z-index: 1;
	// left: 19vw;
	color: #549a6f;
	font: normal bold normal 166.5px/1.4em roboto-bold, roboto, sans-serif;
	//font-size: 300px;
}
.title {
	//top: 5px;
	margin-top: 0;
	z-index: 2;
	margin-right: auto;
	margin-left: auto;
	color: #303030;
	font: normal bold normal 37px/1.4em roboto-bold, roboto, sans-serif;
	text-transform: uppercase;
}
.cont-text {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 90vw;
	p {
		text-align: left;
		font-family: Sen, sans-serif;
		font-size: 15px/1.4em;
		span {
			font-weight: bold;
		}
	}
}

.cont-icons {
	width: 100%;
	display: flex;
	flex-direction: column;
	.row2 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		// flex-wrap: nowrap;
		margin-left: auto;
		margin-right: auto;
		width: 70vw;
		.item {
			width: 50vw;
			margin: 20px auto;
			display: flex;
			flex-direction: column;
			img {
				width: 60px;
				margin: 0 auto;
				filter: invert(54%) sepia(45%) saturate(381%) hue-rotate(90deg)
					brightness(90%) contrast(87%);
			}
			p {
				text-align: center;
				display: inline-block;
				width: fit-content;
				text-transform: uppercase;
				margin: 10px auto;
			}
		}
	}
}
