@import "./scss-variables";
@import "sass-rem";

footer {
	font-family: Sen, sans-serif;
	background-color: $rouge-nav;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	h3 {
		a {
			color: #fff;
			text-decoration: none;
			&:visited {
				color: #fff;
			}
		}
	}

	padding-top: 50px;
	color: #fff;
	// height: 495px;
	padding-bottom: 20px;
	.cont-footer {
		padding-left: 10vw;
	}
	.cont-footer-d {
		display: flex;
		width: 80%;
		justify-content: space-between;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;
		.petit-nav-footer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 70px;
			h3 {
				margin-top: 20px;
			}
		}
		.suivez-nous-footer {
			width: fit-content;
			p {
				width: fit-content;
			}
		}
	}
	.petit-nav-footer {
		h3 {
			text-transform: uppercase;
			font-weight: 400;
		}
		.cont-link-footer {
			display: flex;
			flex-direction: column;
			margin-top: 20px;
			margin-bottom: 20px;
			a {
				font-family: Sen, sans-serif;
				font-weight: normal;
				text-decoration: none;
				color: #fff;
			}
		}
	}
	.info-contact-footer {
		margin-top: 20px;
		h3 {
			text-transform: uppercase;
		}
		p {
			margin: 2px 0;
			&:nth-child(4) {
				font-weight: bold;
				a {
					color: #fff;
					text-decoration: none;
					font-weight: normal;
				}
			}
		}
	}
	.suivez-nous-footer {
		h3 {
			margin-top: 20px;
			text-transform: uppercase;
		}
		p {
			width: 70%;
		}
		a {
			img {
				width: 25px;
				height: 25px;
			}
		}
	}
	.copyright-footer {
		// text-align: center;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		a {
			width: 100%;
			// text-align: center;
			color: #f5b8bc;
			margin-bottom: 20px;
			margin-top: 20px;
			font-size: 11px/1.4em;
		}
	}
}
