@import "./scss-variables.scss";

nav {
	background-color: $rouge-nav;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100vw;
}
.cont-logo {
	margin-left: 5vw;
	svg {
		margin: 0;
		width: 75%;
		height: 100%;
	}
}
