@import "./scss-variables";
@import "sass-rem";

.bigC {
	color: $rouge-nav;
	top: -40px;
}

.chapeauC {
	height: 1px;
}
.lilNous-d {
	font-size: rem(16px);
	font-family: Sen, sans-serif;
	// margin-left: auto;
}
.hero-contact-d {
	height: 120vh;
}

.bg-text-hero-contact-d {
	height: inherit;
	padding-top: 150px;
	background-color: rgba(0, 0, 0, 0.37);
	.title-container-contact {
		margin-left: 35vw;
	}

	.title {
		font-size: rem(80px);
		font-family: roboto-bold, roboto, sans-serif;
	}
	.bigC {
		top: -130px;
		color: #ce1323; //$rouge-nav;
		font-size: rem(300px);
	}
	.petit-para-hero-contact {
		margin-top: 70px;
		margin-left: 35vw;
		margin-right: auto;
		width: 35%;
		text-align: left;
		color: #fff;
		font-family: Sen, sans-serif;
	}
}
.hero-contact {
	// background-image: url("../../images/AdobeStock_314878805.jpeg");
	background-image: url("../../images/AdobeStock_314878805.jpeg");
	background-size: cover;
	background-position-y: 5%;
	background-position-x: 50%;
}
.bg-text-hero-contact {
	height: 415px;
	padding-top: 80px;
	background-color: rgba(0, 0, 0, 0.37);

	.petit-para-hero-contact {
		margin-top: 70px;
		color: #fff;
		font-family: Sen, sans-serif;
	}
}
.title-container-contact {
	display: flex;
	width: fit-content;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	// height: 415px;
	// width: 100%;
	margin-top: 70px;
	span {
		color: #fff;
		&:nth-child(3) {
			color: $rouge-nav;
		}
	}
}

@media screen and(max-height:900px) {
	.hero-contact-d {
		height: 133vh;
	}
}
@media screen and(max-height:800px) {
	.hero-contact-d {
		height: 153vh;
	}
}
